@model VentaArticulosCredito.Models.Login.ResetPasswordViewModel
@using System.Web.Optimization;
@{
    //Evita que podamos regresar a la página anterior.
    Response.Cache.SetCacheability(HttpCacheability.ServerAndNoCache);
    Response.Cache.SetAllowResponseInBrowserHistory(false);
    Response.Cache.SetNoStore();

    //Devuelve la ruta de la aplicacion
    String contentRoot = Url.Content("~/");
    String ApplicationRoot = Request.Url.Scheme + "://" + Request.Url.Authority + contentRoot.Substring(0, contentRoot.Length - 1);
}
<!DOCTYPE html>
<html data-root="@ApplicationRoot">
    <head>
        <!-- Medadata -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Icono -->
        <link rel="shortcut icon" href="~/Content/Semantic UI/css/themes/default/assets/images/icon.jpg" />
        <!-- Título -->
        <title>Cyber Shop</title>
        <!-- Estilos -->
        @Styles.Render("~/Reset/Style")
        <!-- Scripts -->
        @Scripts.Render("~/Reset/Script")   
    </head>
    <body>
        <!-- Restaurar Contraseña -->
        <div class="ui middle aligned center aligned grid animated bounceInDown">
            <div class="column">
                <h2 class="ui teal image header">
                    <img src="~/Content/Semantic UI/css/themes/default/assets/images/icon.jpg" class="ui avatar image">
                    <div class="content title-login">
                        Cyber Shop
                    </div>
                </h2>
                @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post, new { @ID = "reset-password-form", @NAME = "reset-password", @CLASS = "ui large form" }))
                {
                    <div class="ui stacked segment">
                        @Html.AntiForgeryToken()
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                @Html.EditorFor(m => m.password, new { htmlAttributes = new { @NAME = "password", @PLACEHOLDER = "Contraseña" } })
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                @Html.EditorFor(m => m.confirmPassword, new { htmlAttributes = new { @NAME = "confirm-password", @PLACEHOLDER = "Confirmación Contraseña" } })
                            </div>
                        </div>
                        <button class="ui fluid large teal submit button ladda-button" id="button-reset" data-style="zoom-out"><span class="ladda-label">Restaurar</span></button>
                    </div>
                }
            </div>
        </div>
    </body>
</html>
